body, h1, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and font family */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

/* Style the container */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

/* Style the heading */
h1 {
    color: #333;
    margin-bottom: 20px;
    
}

/* Style the menu list */
.menu {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

/* Style the menu links */
.menu a {
    display: block;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #0056b3;
}

.logout a{
    background-color: red;
}