.container {
    text-align: center;
  }
  
  .menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
  }
  
  .menu li {
    margin: 0 20px;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .menu li a:hover {
    color: #007bff;
  }
  
  /* Dropdown styles */
  .dropdown {
    position: relative;
  }
  
  .dropdown span {
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    transform: scaleY(1);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    list-style-type: none;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.3s ease;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 10px;
    padding: 0;
    border-radius: 4px;
  }
  
  .dropdown-content li {
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  
  .dropdown-content li:hover {
    background-color: #f0f0f0;
  }
  
  .selected-vendor {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
  }

  .vendors{
    cursor: pointer;
  }